<?xml version="1.0"?>
<model>
  <name>bin_4_dropping task</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>amer abuissa</name>
    <email>amer.abuissa@student.uts.edu.au</email>
  </author>

  <description>
    A marked bin which can be used in dropping task simulation.
  </description>
</model>